* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(255,255,255);
  font-weight: bold;
}

img {
  width: 350px;
  height: 275px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  height: 85px;
}

.navigation--header{
  margin-left: 25px;
}

.header{
  font-size: 24px;
}

.home-page-header{
  color: rgb(255,255,255);
  margin-top: 50px;
  text-shadow: 2px 2px 5px #000;
}

ul > li{
  list-style-type: none;
}

.nav--list{
  display: flex;
  gap: 14px;
  margin: 7px;
}

.home-page{
  background-image: url("https://images.theconversation.com/files/254561/original/file-20190118-100267-1dwtevs.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.headers{
  max-width: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  margin: 0 auto;
}

.section--header{
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav--elements {
  margin-right: 25px;
}

.visualArts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exhibit-1, .exhibit-2, .exhibit-3{
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  gap: 40px;
  margin: 15px;
}

.exhibit-2{
  flex-direction: row-reverse;
}